<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="KTV_BridgeConnector::bridgeconnector"
             title="KTV BridgeConnector"
             module="KTV_BridgeConnector"
             sortOrder="100"
             action="bridgeconnector/bridgeconnector"
             resource="KTV_BridgeConnector::bridgeconnector"/>
    </menu>
</config>